beautifulsoup4>=4.14.3
python-dotenv>=1.0.0
fastapi>=0.129.0
langchain>=1.2.8
langchain-community>=0.4.1
langchain-google-genai>=4.2.0
langchain-groq>=1.1.2
langchain-pinecone>=0.2.13
langsmith>=0.6.8
pinecone>=7.3.0
pydantic>=2.12.5
uvicorn>=0.41.0
requests>=2.32.0
